* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #FFF7EF;
}

#pesodiv {
    text-align: left;
}

#board {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 480px;
     margin-inline: auto;
     margin-top: 30px;
     zoom: 1.10;
     background-color: white;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);
}


#logo {
    height: 120px;
    margin-top: 17px;
    margin-bottom: 15px;
}

#facadastro {
    font-weight: bold;
    margin-bottom: 18px;
}

#inputemail {
    width: 282px;
    height: 39px;
    border-radius: 12px;
    border: solid;
    border-width: 1px;
    margin-bottom: 10px;
}

#inputname {
    width: 282px;
    height: 39px;
    border-radius: 12px;
    border: solid;
    border-width: 1px;
    margin-bottom: 10px;
}

#inputsenha {
    width: 282px;
    height: 39px;
    border-radius: 12px;
    border: solid;
    border-width: 1px;
}

#aviso {
    font-size: 11px;
    margin-top: 4px;
    margin-bottom: 9px;
}

#cadastre {
    width: 282px;
    height: 44px;
    border-radius: 12px;
    background-color: #CD8453;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

#ou {
    font-weight: bold;
    margin-bottom: 22px;
    margin-top: 1px;
}

button {
    width: 282px;
    height: 44px;
    border-radius: 7px;
    margin-bottom: 22px;
    background-color: white;
    border: solid;
    border-width: 1px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

button img {
    width: 30px;
}

#jatem {
    margin-bottom: 15px;
    margin-top: 3px;
}

#mensagem {
    margin-bottom: 25px ;
}

input::placeholder {
    text-indent: 12px;
}

.btntexto {
    width: 80px;
    text-align: left;

}